/*
  General styles for the data tables used throughout the site
  (e.g. IDL data, SIMD data, etc)
*/

.scrollContainer {
  @apply mb-6 overflow-x-scroll;
}

.dataTable {
  @apply w-full font-mono;
  @apply border-separate border-spacing-0;
  @apply mx-5 lg:mx-0 lg:px-5;
}
.dataTable thead {
  @apply text-base font-semibold text-left text-gray-600;
}
.dataTable thead th {
  @apply border-b border-b-gray-400 !important;
  @apply px-5 py-3;
  @apply min-w-52;
}
/* .dataTable tbody tr {
  @apply hover:bg-gray-100;
} */
.dataTable tbody td {
  @apply p-5;
  @apply text-left align-top;
}

/* Style the table borders */
.dataTable thead th,
.dataTable tbody td {
  @apply border-b;
  @apply border-gray-300 lg:border-transparent;
}
.dataTable tr th:first-child,
.dataTable tr td:first-child {
  /* table left side border */
  @apply border-l;
}
.dataTable tr th:last-child,
.dataTable tr td:last-child {
  /* table right side border */
  @apply border-r;
}
.dataTable tr th {
  @apply border-t;
}
/* Style the rounded corners */
.dataTable tr:first-child th:first-child {
  @apply rounded-tl-lg;
}
.dataTable tr:first-child th:last-child {
  @apply rounded-tr-lg;
}
.dataTable tr:last-child td:first-child {
  @apply rounded-bl-lg;
}
.dataTable tr:last-child td:last-child {
  @apply rounded-br-lg;
}

/* Style the listings of IDL data */
.dataList {
  @apply space-y-1;
}
.dataList li {
  @apply flex items-center;
}
