/*
  Styles for the subnav components, often used for the tabbed navigation on pages
  (e.g. course lesson sections, IDL page content, etc)
*/

.mobileOnly {
  @apply md:hidden !important;
}
.desktopOnly {
  @apply hidden lg:block;
}
.activeTab {
  @apply block;
}
.inActiveTab {
  @apply hidden lg:block;
}

/*
  
*/
.subnav {
  @apply flex space-x-0;
  @apply border-b border-gray-300;
  @apply w-full md:justify-start !important;
}
.subnav * {
  @apply block cursor-pointer;
  @apply text-base text-gray-600 md:font-semibold;
  @apply px-6 py-5 md:py-3;
  @apply border-b-2 border-transparent;

  /* hover/active style*/
  @apply hover:text-violet-600 hover:border-violet-600;
}
.subnav a.active,
.subnav .activeButton {
  @apply text-violet-600 border-violet-600;
}
