/* for the love of tailwind :) */
@tailwind base;
@tailwind components;

/*
  Core structure and style
*/
body {
  @apply leading-normal tracking-normal;
  /* @apply text-lg; */
}
.container-inner {
  @apply mx-auto max-w-7xl;
}
.container {
  @apply container-inner;
  @apply mx-auto gap-8 space-y-8 p-5 lg:py-6;
  @apply justify-between;
}
.flex,
.inline-flex {
  @apply items-center;
}
.bg-star-sm,
.bg-star-lg {
  @apply bg-cover bg-left-bottom bg-no-repeat;
}
.gradient-solana {
  @apply bg-gradient-to-br bg-clip-text text-transparent;
  /* @apply from-solana-green to-solana-purple; */
  @apply bg-gradient-to-br from-green-600 to-violet-600;
}

/* Override some `prose` styling */
.prose {
  /* @apply max-w-[75ch]; */
  @apply max-w-full;
}
.prose p {
  @apply first-of-type:text-xl;
  @apply break-words;
}
/* class override for the code blocks prose */
.prose :where(pre):not(:where([class~='not-prose'] *)) {
  @apply bg-transparent px-0;
}

/*
  Form elements
*/
.form-item {
  @apply space-y-1;
}
.form-item label {
  @apply block text-lg font-semibold text-gray-700;
}
.form-item .input {
  @apply block w-full;
}

.form-item .checklist {
  /* @apply mx-4; */
  @apply space-y-2;
}
.form-item .checklist li {
  @apply flex items-center space-x-2;
}
.form-item .checklist label {
  @apply text-sm;
  @apply font-normal !important;
}

input[type='checkbox'] {
  @apply rounded border border-gray-300;
}

.input,
textarea,
input[type='number'],
input[type='number'],
input[type='text'],
input[type='url'],
input[type='email'] {
  @apply px-5 py-2;
  @apply rounded-lg border border-transparent;
  /* @apply text-white bg-gray-900 border-gray-800; */
  @apply border-gray-300 bg-white text-black;
}
.input-dark {
  @apply border-gray-800 bg-gray-900 text-white !important;
}
.inputWithIcon {
  @apply flex items-center;
  @apply relative;
}
.inputWithIcon label {
  @apply absolute left-4;
}
.inputWithIcon label svg {
  @apply icon;
}
.inputWithIcon input {
  @apply w-full pl-10;
}

button,
input[type='submit'],
input[type='button'],
.btn {
  @apply inline-flex cursor-pointer items-center;
  @apply rounded-lg border border-transparent px-5 py-2;
  @apply hover:border-opacity-80 hover:bg-opacity-90;
}
.btn-sm {
  @apply px-3 py-1 !important;
}
.btn-lg {
  @apply px-7 py-4 !important;
}

.btn-outline {
  @apply border-gray-500 text-black;
  @apply hover:bg-opacity-70;
}
.btn-dark {
  @apply text-white;
  @apply border-gray-800 bg-gray-900;
  @apply hover:bg-opacity-95;
}
.btn-default {
  @apply text-white;
  @apply border-gray-700 bg-gray-800;
  /* @apply hover:bg-opacity-70; */
}
.btn-light {
  @apply text-gray-500;
  @apply hover:text-black;
  @apply border-gray-300 hover:bg-slate-50;
}

/*
  Common, reusable classes
*/
h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  @apply font-semibold;
  /* @apply tracking-wide; */
}

.icon-sm {
  @apply h-3 w-3;
}
.icon {
  @apply h-4 w-4;
}
.icon-md {
  @apply h-5 w-5;
}
.icon-lg {
  @apply h-8 w-8;
}

.mobile-only {
  @apply lg:hidden !important;
}
.desktop-only {
  @apply hidden lg:block;
}

.minor-text {
  @apply text-sm text-gray-400;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* make the utilities last to force their priority when inline */
@tailwind utilities;
