/* for the love of tailwind :) */
@tailwind base;
@tailwind components;

/*
  Core structure and style
*/
body {
  @apply leading-normal tracking-normal;
  /* @apply text-lg; */
}
.container-inner {
  @apply mx-auto max-w-7xl;
}
.container {
  @apply container-inner;
  @apply gap-8 p-5 mx-auto space-y-8 lg:py-10;
  @apply justify-between;
}
.flex,
.inline-flex {
  @apply items-center;
}
.bg-star-sm,
.bg-star-lg {
  @apply bg-left-bottom bg-no-repeat bg-cover;
}
.gradient-solana {
  @apply text-transparent bg-clip-text bg-gradient-to-br from-solana-green to-solana-purple;
}

/* Override some `prose` styling */
.prose {
  @apply max-w-[75ch];
}
.prose p {
  @apply first-of-type:text-xl;
}

/*
  Form elements
*/
.form-item {
  @apply space-y-1;
}
.form-item label {
  @apply block text-lg font-semibold text-gray-700;
}
.form-item .input {
  @apply block w-full;
}

.form-item .checklist {
  /* @apply mx-4; */
  @apply space-y-2;
}
.form-item .checklist li {
  @apply flex items-center space-x-2;
}
.form-item .checklist label {
  @apply text-sm;
  @apply font-normal !important;
}

input[type="checkbox"] {
  @apply border border-gray-400 rounded;
}

.input,
textarea,
input[type="number"],
input[type="number"],
input[type="text"],
input[type="url"],
input[type="email"] {
  @apply px-5 py-2;
  @apply border border-transparent rounded-lg;
  /* @apply text-white bg-gray-900 border-gray-800; */
  @apply text-black bg-white border-gray-300;
}
.input-dark {
  @apply text-white bg-gray-900 border-gray-800 !important;
}
.inputWithIcon {
  @apply flex items-center;
  @apply relative;
}
.inputWithIcon label {
  @apply absolute left-4;
}
.inputWithIcon label svg {
  @apply icon;
}
.inputWithIcon input {
  @apply w-full pl-10;
}

button,
input[type="submit"],
input[type="button"],
.btn {
  @apply inline-flex items-center cursor-pointer;
  @apply px-5 py-2 border border-transparent rounded-lg;
  @apply hover:bg-opacity-90 hover:border-opacity-80;
}
.btn-sm {
  @apply px-3 py-1 !important;
}
.btn-lg {
  @apply px-7 py-4 !important;
}

.btn-outline {
  @apply text-black border-gray-500;
  @apply hover:bg-opacity-70;
}
.btn-dark {
  @apply text-white;
  @apply bg-gray-900 border-gray-800;
  @apply hover:bg-opacity-95;
}
.btn-default {
  @apply text-white;
  @apply bg-gray-800 border-gray-700;
  /* @apply hover:bg-opacity-70; */
}
.btn-light {
  @apply text-gray-500;
  @apply hover:text-black;
  @apply border-gray-300 hover:bg-slate-50;
}

/*
  Common, reusable classes
*/
h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  @apply font-semibold;
  /* @apply tracking-wide; */
}

.icon-sm {
  @apply w-3 h-3;
}
.icon {
  @apply w-4 h-4;
}
.icon-md {
  @apply w-5 h-5;
}
.icon-lg {
  @apply w-8 h-8;
}

.mobile-only {
  @apply lg:hidden !important;
}
.desktop-only {
  @apply hidden lg:block;
}

.minor-text {
  @apply text-sm text-gray-400;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* make the utilities last to force their priority when inline */
@tailwind utilities;
